<!DOCTYPE html>
<html>
<head>
    <title>Ella Rises</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Welcome to Ella Rises</h1>
    <p>This is your starting point.</p>
</body>
</html>